# Reference: https://github.com/openshift/assisted-service/blob/master/deploy/podman/configmap.yml
apiVersion: v1
kind: ConfigMap
metadata:
  name: config
data:
    POSTGRESQL_DATABASE: {{ POSTGRESQL_DATABASE }}
    POSTGRESQL_PASSWORD: {{ POSTGRESQL_PASSWORD }}
    POSTGRESQL_USER: {{ POSTGRESQL_USER }}
    DB_HOST: {{ DB_HOST }}
    DB_PORT: {{ DB_PORT }}
    DB_USER: {{ POSTGRESQL_USER }}
    DB_PASS: {{ POSTGRESQL_PASSWORD }}
    DB_NAME: {{ POSTGRESQL_DATABASE }}
    SERVICE_BASE_URL: http://{{ SERVICE_BASE_URL | default(ansible_fqdn) }}:8090
    ASSISTED_SERVICE_SCHEME: {{ ASSISTED_SERVICE_SCHEME }}
    ASSISTED_SERVICE_HOST: {{ ASSISTED_SERVICE_HOST }}
    IMAGE_SERVICE_BASE_URL: http://{{ IMAGE_SERVICE_BASE_URL | default(ansible_fqdn) }}:8888
    LISTEN_PORT: {{ LISTEN_PORT }}
    DEPLOY_TARGET: {{ DEPLOY_TARGET }}
    STORAGE: {{ STORAGE }}
    DUMMY_IGNITION: {{ DUMMY_IGNITION }}
    OS_IMAGES: '{{ DEFAULT_OS_IMAGES | to_json  }}'
    RELEASE_IMAGES: '{{ DEFAULT_RELEASE_IMAGES | to_json}}'
    ENABLE_SINGLE_NODE_DNSMASQ: true
    DISK_ENCRYPTION_SUPPORT: true
    PUBLIC_CONTAINER_REGISTRIES: quay.io
    NTP_DEFAULT_SERVER: {{ NTP_SERVER | default("")}}
    IPV6_SUPPORT: {{ IPV6 | default("true")}}
    AUTH_TYPE: none
    HW_VALIDATOR_REQUIREMENTS: '{{ DEFAULT_HW_VALIDATOR_REQUIREMENTS | to_json}}'
    AGENT_DOCKER_IMAGE: "quay.io/itsoiref/assisted-installer-agent:latest_arm_test"
    CONTROLLER_IMAGE: "quay.io/itsoiref/assisted-installer-controller:arm"
    INSTALLER_IMAGE: "quay.io/itsoiref/assisted-installer:arm_latest"

