# Reference: https://github.com/openshift/assisted-service/blob/master/deploy/podman/pod.yml
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: assisted-installer
  name: assisted-installer
spec:
  containers:
  - args:
    - run-postgresql
    image: "{{ PSQL_IMAGE_IMAGE }}"
    name: db
{% if PRESERVE_DB == true %}
    volumeMounts:
    - mountPath: /var/lib/pgsql/data
      name: db-volume
{% endif %}
    envFrom:
    - configMapRef:
        name: config
  - image: "{{ ASSISTED_UI_IMAGE }}"
    name: ui
    ports:
    - hostPort: 8080
    envFrom:
    - configMapRef:
        name: config
  - image: "{{ SERVICE_IMAGE }}"
    name: image-service
    ports:
    - hostPort: 8888
    envFrom:
    - configMapRef:
        name: config
  - image: "{{ SERVICE_IMAGE }}"
    name: service
    ports:
    - hostPort: 8090
    envFrom:
    - configMapRef:
        name: config
  restartPolicy: Always
{% if PRESERVE_DB == true %}
  volumes:
  - name: db-volume
    hostPath:
      path: {{ WORKDIR }}/pg_data
      type: Directory
{% endif  %}
